build/*
hierarchicalrecord/__pycache__/*
bin/__pycache__/*
hierarchicalrecord/*pyc
bin/*pyc
bin/#*#
bin/*#*
hierarchicalrecord/#*$
hierarchicalrecord/*#*
hierarchicalrecord/*~
bin/*~
#*#
*~
env/*
.DS_Store
dist/
*.egg-info/
